<header class="header container">
    <div class="header__baner">
      <div class="header__img">
        <a href="./index.html"></a>
      </div>
      <div class="header__pages">
        @@include('../menu-items/_menu-item.html',{"subItem":"HomePages","item":"Home","webPages":"./index.html"})
        @@include('../menu-items/_menu-item.html',{"subItem":"AboutPages","item":"About","webPages":"./about.html"})
        @@include('../menu-items/_menu-item.html',{"subItem":"ProjectPages","item":"Projects","webPages":"./work.html"})
        @@include('../menu-items/_menu-item.html',{"subItem":"BlogPages","item":"Blog","webPages":"./blog.html"})
        @@include('../menu-items/_menu-item.html',{"subItem":"ContactPages","item":"Contact","webPages":"./contact.html"})
      </div>
    </div>
  </header>