.articles_video{
    display: flex;
    width: 360px;
    padding: 5px;
    &__img{
        // display: inline-block;
        background-size: cover;
        
    }
    &__description{
        // display:inline-block;
        padding: 3px;
        overflow-wrap: break-word;
    }
}