<div class="post">
    <div class="post__titel">
        <h2>@@titel</h2>
    </div>
    <div class="post__img">
        <img src="" alt="">
    </div>
    <div class="post__content">
        <div class="post__stats">
            <div class="post__stats">
                <h3>date</h3>
                <span>@@data</span>
            </div>
            <div class="post__stats">
                <h3>tags</h3>
                <span>@@tages</span>
            </div>
            <div class="post__stats">
                <h3>comments</h3>
                <span>@@numberOfComments</span>
            </div>
        </div>
        <div class="post__description">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A doloremque saepe dignissimos itaque, dolores repudiandae sint est, quidem asperiores numquam unde qui rem, accusantium magni quae fuga. Quos, officiis aliquid!</p>
        </div>
    </div>
</div>