<!-- "./partials/post/_post.html" -->

<div class="post">
    <div class="post__titel">
        <a href="#"><h2>@@titel</h2></a> 
    </div>
    <div class="post__img" style="background-image: url(@@pathImg);">
        
    </div>
    <div class="post__content">
        <div class="post__stats">
            <div class="post__stats">
                <h3>date</h3>
                <span>@@data</span>
            </div>
            <div class="post__stats">
                <h3>tags</h3>
                <span>@@tages</span>
            </div>
            <div class="post__stats">
                <h3>comments</h3>
                <span>@@numberOfComments</span>
            </div>
        </div>
        <div class="post__description">
            <p>@@description</p>
        </div>
    </div>
</div>