.featured-section{
    width: 290px;
    padding: 70px 10px;
    &__head{
        display: flex;
        justify-content: space-between;
    }
    &__titel{
        //display: inline-block;
        width: 220px;
        //height: 50px;
        padding: 0 0 0 10px;
        text-transform: uppercase;
        color: #464646;
        font-size: 1.3rem;
        font-weight: 800;
    }
    &__description{
        padding: 35px 0 25px 0;
        color:#414141;
    }
    &__a{  
        font-weight: 800;
        text-decoration:none;
        text-transform: uppercase;
        color: #474747;
    }
    &__a:before{
        content: "\f101";
        padding: 0 10px 0 0;
        font-family: FontAwesome;
    }
}
