<div class="team-staff">
    <img src="@@imgPath" alt="Аватарка преподавателя">
    <div class="team-staff__cntnt">
        <div class="team-staff__titel">
            <div class="team-staff__namePost">
                <div class="team-staff__titel--name">
                    <p>@@name</p>
                </div>
                <div class="team-staff__titel--post">
                    <p>@@post</p>
                </div>
            </div>
            <div class="team-staff__id">
                @@idStaff
            </div>
            
        </div>
        <div class="team-staff__description">
            @@description
        </div>
    </div>

</div>
<!--
    {
        "imgPath":"",
        "name":"",
        "post":"",
        "idStaff":"",
        "description":"",
        
    }


 -->