.main-articles{
    //display: none;
    box-sizing: border-box;
    width: 140px;
    padding: 5px;
    &__img{
        overflow: hidden;
        background-size: cover;

    }
    &__description{
        font-size: 14px;
        color:#333;
    
    }
}