.sidebar{
    margin-top: 70px;
    padding: 5px;
}
.aboutPortfolio{
    margin: 5px 0;
    &__content{
        margin: 25px 0;
    }
}
.categories{
    margin: 5px 0; 
    &__content{
        margin: 25px 0;
    }
}
.twitterWidget{
    margin: 5px 0;
    &__content{
        margin: 25px 0;
    }
}