.team-card{
    &__header{
        color: #6e6d6b;
        font-size: 22px;
        margin-bottom: 20px;
        text-align: center;
    }
    &__position{
        color: #fcb544;
    }
    &__img{
        border-radius: 50%;
        overflow: hidden;
        border: 5px solid #fcb544;
        padding: calc(50% - 5px);
        
        background-position: 50%;
        background-size: cover;

    }
    &__content{
        padding: 10px;
    }
}