.menu-item {
    display: inline;
    // position: relative;
    border: 5px solid transparent;
    text-align: left;
    text-decoration: none;
    padding-bottom: 5px;   
    margin: 10px 0; 
    &:before {
        content: ''; 
        position: absolute;
        right: 45%; top: -20px;
        border: 10px solid transparent; 
        border-top: 10px solid grey; 
    }
    &:hover{
        border-bottom: 5px solid grey;
        position: relative;
        // top: 2px;
        // left: 2px;
        // opacity: 0.5;
    }
    &__titel{
        // text-decoration: none;
        text-transform: uppercase;
        font-size: 1rem;
        color: #ababab;
    }
    &__description{
        text-transform: uppercase;
        font-size: 1.6rem;
        text-align: center;
        color: #474747;
        
    }
    p{
        padding: 0;
        margin: 0;
        text-align: left;
    }
}