<!-- разные размеры картинок 
@@bigImg - отвечает за размер картинки в карточке
строка использования 
('./partials/topic/_topic.html',{"bigImg":"bigImg" ,"pathImg":"./img/home/img_home_3.jpg", "titel":"busines card","category":"photo","description":"Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posue re ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis. Aenean sodales nibh non lectus tempor a interdum justo ultricies.","webPages":"#"})
                                  
--> 
<a href="#" class="topic">
    <div class="topic__img">
        <img src="@@pathImg" alt="">
    </div>
    <div class="topic__content">
        <div class="topic__titel">
            @@titel
        </div>
        <div class="topic__category">
            @@category
        </div>   
        <div class="topic__description">
            @@description
        </div>        
    </div>

    
</a>