body * {
  outline: 1px solid lightgrey;
}

.container{
  margin: 0 auto;
  width: 600px;
}
.block{
  padding: 5px;
  // margin: 10px;
  // border: 1px solid red;
   display: inline-block;
    border-right: 2px  solid red;
}
.block:last-child{
  border-right:0px solid transparent ;
}
.container p{
  margin: 0;
  padding: 0;
}