.bg-download_icon_png_7 {
    width: 3333px; height: 3333px;
    background: url('/img/sprites.png') -10px -10px;
}
.bg-search {
    width: 920px; height: 981px;
    background: url('/img/sprites.png') -3363px -10px;
}
