.arctical p{
    color: rgb(19, 35, 179);
    font-size: 18px;
    font-style: italic;
  
  }
  .arctical .read-more{
    display: block;
    color: #fb9c06;
    text-decoration: none;
    font-style: italic;
    text-transform: lowercase;
    text-align: right;
  }